* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-toggler{
    background-color: #f09433 !important;
}

.para-above{
    color: rgb(238, 150, 43);
    font-size: 5vh;
    font-weight: bold;
}

.nav-text{
    font-size: larger;
    color:black;
}

.vertical-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.card{
    border-radius: 10px !important;
    background-color: bisque !important;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3) !important;
}

.franchise-enq{
    font-size: 20px;
    color:orange;
    font-weight: bold;
}

.franchise-enq-no{
    font-weight:bold;
    font-size: 20px;
    color:white !important;
}

.fab{
    font-size: 24px;
}

i.fab {
    display: inline-block;
  }

.fa-instagram{
    color: #cc0f90;
}


.container-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left, .middle, .right {
    flex-grow: 1;
  }
  
  .middle {
    text-align: center;
  }

  .right{
    text-align: right;
  }
.franchise-div{
    background-color: black !important;
    margin-left: 0px !important;
}

.social-div{
    background-color:black !important;
    border-color:black;
}

.contact-div1{
    background-color: black !important;
}
.contact-div2{
    background-color: black !important;
}
#contact{
    background-color: black !important;
}

#franchise{
    background-color: black !important;
    margin-bottom: 1px;
}



/* Mobile view style */

@media screen and (max-width: 600px) {
    .para-above{
        font-size: 20px;
    }
   .rem-fig{
        height: 146px;
   }
   .contact-div li{
        font-size: 15px;
   }
   #contact-2{
    display:none;
   }
   #contact-1{
    padding-bottom: 2px !important;
   }
   .left h3, .middle h3, .right h3{
    font-size: 20px;
   }
   .slider-img{
    height: 300px;
   }
   #contact{
    padding-left: 20px;
    padding-right: 20px;
   }
   .franchise-img{
        height: 190px;
   }
   .copyright-foot{
    background-color: #313031;
   }
   .copyright-para{
    font-size: 12px;
    color: white;
    }
  }

@media screen and (min-width: 800px) {
    .rem-fig{
         height: 609px;
    }
    .nav-item{
        margin-right: 15px;
    }
    .right-head{
        margin-right: 15px;
    }
    .footer-div{
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #contact-1{
        display: none;
    }
    .slider-img{
        height: 700px;
       }
    #contact{
        padding-left: 40px;
        padding-right: 40px;
    }
    .menu-div{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .franchise-img{
        height: 500px;
    }
    .copyright-foot{
        background-color: #313031;
       }
       .copyright-para{
        font-size: 15px;
        color: white;
        }
   }

   